<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/add">Add contacts</a></li>
            <li><a href="/list">Contacts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if loggedIn}}
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/auth/login">Login</a></li>
            {{/if}}
        </ul>
        {{#if loggedIn}}
        <p class="navbar-text navbar-right">Logged in as: {{user.forename}} {{user.surname}} </p>
        {{/if}}
    </div>
</nav>