<h1>About Addressbook</h1>
<br><br>
<blockquote>
    <h3>This app is an address book to keep all your contacts in.</h3>
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        The user is able to:<br>
        <ul>Add new entries.</ul>
        <ul>Modify existing entries.</ul>
        <ul>Delete existing entries.</ul>
    </div>
</div>